@import '../../assets/css/mixins.scss';

// 解决小说内的样式，小说内margin左右两边有1px空白
body {
  margin: 0 !important;
}
.books-reader-container {
  background: #f4dbb0;
}
.books-reader-header {
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  // width: 100%;
  z-index: 100;
  background: #f4dbb0;
  
  li {
    font-size: 18px;
  }

  .header-title {
    // font
    padding: 0 20px;
    @include ellipse(1)
  }
}
.reader-container {
  margin-top: 60px;
  height: calc(100vh - 120px);
  overflow: auto;
  .book {
    width: calc(100% - 0px);
    height: calc(100% - 40px);
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
  }

  img {
    max-width: 100%;
  }
}
.b-reader-footer {
  width: 100%;
  height: 60px;
  // position: fixed;
  // bottom: 0;
  // left: 0;
}
.b-reader-footer ul {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  border-top: 1px solid rgb(70 66 59 / 11%);
  box-sizing: border-box;
  
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid rgb(70 66 59 / 11%);
    &:nth-last-of-type(1) {
      border-right: none;
    }
  }
}
.toc-container {
  padding: 20px;
}