@import '../../assets/css/mixins.scss';
@import '../../assets/css/var.scss';

.b-index-container {
  box-sizing: border-box;

  .b-grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: 170px;
    gap: 15px;
    margin: var(--b-container-margin);
    font-size: 12px;

    .b-grid-list-item {
      .novel-poster {
        width: 100%;
        height: 145px;
        background: rgba(62, 55, 55, 0.08);
      }
      
    }
    
    .van-space {
      display: grid;
      // grid-template-rows: 162px auto;
    }

    span {
      @include ellipse(2);
      line-height: 20px;
    }
  }
}
